<!DOCTYPE html>
<html>
  <head>
    <title>Learnhowtoprogram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><a href="/">Home</a> | <a href="/chapters/1">Vulcan</a> | <a href="/chapters/2">Q</a> | <a href="/chapters/3">Bajoran</a> | <a href="/chapters/4">Bajoran</a> </p>

    <%= yield %>
  </body>
</html>
